@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
	background-image: linear-gradient(45deg, #e2e3ff, #f0efff);
	font-family: 'Muli', sans-serif;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.mainbg{
	background-color: #5161ce;
	padding: 0px;
}


/** card **/
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 30px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

 



* {
	box-sizing: border-box;
}


.card-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100hv;
	margin: 0;
	padding: 50px;
}
span{
	font-size: small;
}

.course {
	background-color: #fff;
	border-radius: 35px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 5px;
	overflow: hidden;
	width: 600px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
}

.course h4 {
	letter-spacing: 1px;
	margin: 10px 0;
}


h2{
	color: #384bc4;
	padding: 10px;
}

/**.btnform {
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10px;
}**/

.potomenengah{
	display: flex;
	justify-content: center;
}